* {
    margin: 0;
    padding: 0;
}

body {
    font: 18px arial;
    background: rgb(163, 154, 154);
}

#scatola {
    margin: 0px auto;
    width: 600px;
}

#scatolaimmagini {
    z-index: 1;
    margin: 10px 0 0;
}

#scatolaimmagini div {
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 5px;
    border: 4px solid #1c83a0;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
    background: #B1B1B1;
    z-index: 2;
    box-shadow: 10px 10px black;
}

#scatolaimmagini div img {
    display: none;
    border-radius: 10px;
    z-index: 3;
}

#scatolabottoni {
    text-align: center;
    margin: 20px;
    display: block;
}

#scatolabottoni .button {
    text-transform: uppercase;
    background: #c02aee;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}

#scatolabottoni .button:hover {
    background: #ce2efe;
    ;
}

img {
    width: 100px;
    height: 100px;
}